In [31]:
import numpy as np
import pandas as pd
import datetime
"""
data["datetime"].dt.date
"""

'\ndata["datetime"].dt.date\n'

In [59]:
df = pd.DataFrame({"user_id":[123, 67888, 123, 10], 
                   "item_id":[147, 56, 345, 3456],
                  "category":["Одежда", "Машины", "Продукты","Одежда"],
                  "event_date":['12.02.2002', "23.11.2001", "17.05.2003","27.12.2023"]})
df

   user_id  item_id  category  event_date
0      123      147    Одежда  12.02.2002
1    67888       56    Машины  23.11.2001
2      123      345  Продукты  17.05.2003
3       10     3456    Одежда  27.12.2023

In [76]:
df['event_date'] =  pd.to_datetime(df['event_date'], format='%d.%m.%Y')
#df["event_date"]
df["event_date"] = (df["event_date"]).sort_values()
#for items in df['event_date']:
#col = df.groupby("user_id")["event_date"]
df.loc[df.groupby('user_id')['event_date'].idxmin(),'new_col'] = 1
filters = (df.new_col== 1.0)

df[filters]

   user_id  item_id category event_date  new_col  is_2023
0      123      147   Одежда 2002-02-12      1.0        0
1    67888       56   Машины 2001-11-23      1.0        0
3       10     3456   Одежда 2023-12-27      1.0        1

In [74]:
df['event_date'] =  pd.to_datetime(df['event_date'], format='%d.%m.%Y')
df["event_date"] = (df["event_date"]).sort_values()
df.loc[df['event_date'].dt.year == 2023,'is_2023'] = 1
df.loc[df['event_date'].dt.year < 2023,'is_2023'] = 0
df['is_2023'] = df['is_2023'].astype("int32")
df

   user_id  item_id  category event_date  new_col  is_2023
0      123      147    Одежда 2002-02-12      1.0        0
1    67888       56    Машины 2001-11-23      1.0        0
2      123      345  Продукты 2003-05-17      NaN        0
3       10     3456    Одежда 2023-12-27      1.0        1

In [61]:
import datetime
#
def f(row):
    dt = datetime.date(2023,1,1)
    if row["event_date"].dt.year == dt:
        return 1
    if row["event_date"].dt.year < dt:
        return 0
df["is_2023"] = df.apply(f, axis=1)
df

AttributeError: 'Timestamp' object has no attribute 'dt'